@import '../../assets/jquery-nice-select/css/nice-select.css';
@import 'https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css';
@import "https://cdn.jsdelivr.net/npm/jsvectormap/dist/css/jsvectormap.min.css";
@import "https://cdn.jsdelivr.net/npm/simple-datatables@9.0.0/dist/style.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/github-dark.min.css";
@import "https://unpkg.com/js-datepicker/dist/datepicker.min.css";
@import "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css";
@import "https://cdn.quilljs.com/1.3.6/quill.snow.css";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";
@import "hint.css/hint.min.css";
@import '../../assets/third-party/line-awesome/css/line-awesome.min.css';
@import "./tailwind";
@import "./main";
@import "./misc";

body.vertical .sidebar .menu-link.active {
    background-color: #00897B;
}

body.vertical .sidebar .menu-btn:hover {
    background-color: #00897B;
}

.menu-icon {
    color: #00897B;
}

.bg-primary {
    background-color: #00897B;
}

body.vertical .sidebar .menu-link i {
    color: #00897B;
}

body.vertical .sidebar .menu-link:hover {
    background-color: #00897B;
}

body.vertical .submenu-link:hover,
body.hovered .submenu-link:hover,
body.two-column .submenu-link:hover,
body.detached .submenu-link:hover {
    color: #00897B;
}

.text-primary {
    color: #00897B;
}

.border-primary {
    border-color: #00897B;
}

.border-primary:hover {
    border-color: #00897B;
}

.hover\:bg-primary:hover {
    background-color: #00897B !important;
}

.btn-primary:hover {
    border-color: #00897B;
    color: #00897B;
}

.arrow-bottom::after {
    border-top-color: #00897B;
}

.menu-container:hover::-webkit-scrollbar-thumb {
    background-color: #00897B;
}

*::-webkit-scrollbar-thumb {
    background-color: #00897B;
}

